---
layout: default
title: Justin's Blog
---
{% for post in site.posts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <h6>Written by <a href="/index.html">Justin Raines</a> on {{ post.date | date_to_string }}</h6>
      <ul class="list-inline small">
        <li>Categories:</li>
        {% for category in post.categories %}
          <li><a href="/categories/{{category}}">{{category}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="panel-body">
       {{ post.content }}
    </div>
  </div>
{% endfor %}