<nav class="top-bar" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/index.html">Justin's Blog</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section" style="left: 0%;">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/index.html">Blog</a></li>
      <li class="divider"></li>
      <li><a href="/posts.html">Posts</a></li>
      <li class="divider"></li>
      <li><a href="/projects.html">Projects</a></li>
      <li class="divider"></li>
      <li><a href="/about.html">About</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>