<!DOCTYPE html>
<html>
  {% include html_head.html %}
  <body>
    <!-- Nav -->
    {% include header.html %}
    <!-- End Nav -->

    <!-- Main Page Content and Sidebar -->
    <div class="row">
      <!-- Main Blog Content -->
      <div class="large-9 columns" role="content">
        {{ content }}
      </div>
      <!-- End Main Content -->
      <!-- Sidebar -->
      <aside class="large-3 columns">
        <img src="img/justin_bw_2013.png">
      </aside>
      <!-- End Sidebar -->
    </div>
    <!-- End Main Content and Sidebar -->

    <!-- Footer -->
    {% include footer.html %}
    {% include javascript.html %}
    <!-- End Footer -->
  </body>
</html>
