<!DOCTYPE html>
<html>
  {% include html_head.html %}
  <body>
    <!-- Nav -->
    {% include header.html %}
    <!-- End Nav -->

    <!-- Main Page Content and Sidebar -->
    <div class="row">
      <!-- Main Blog Content -->
      {{ content }}
      <!-- End Main Content -->
      <!-- Sidebar -->
      <aside class="large-2 columns">
        <h5>Categories</h5>
        <ul class="side-nav">
          {% for category in site.categories %}
          <li><a href="/categories/{{ category | first }}">{{ category | first }}</a></li>
          {% endfor %}
        </ul>
      </aside>
      <!-- End Sidebar -->
    </div>
    <!-- End Main Content and Sidebar -->

    <!-- Footer -->
    {% include footer.html %}
    {% include javascript.html %}
    <!-- End Footer -->
  </body>
</html>
