<!DOCTYPE html>
<html>
  {% include html_head.html %}
  <body>
    <div id="wrap">
      <!-- Nav -->
      {% include header.html %}
      <!-- End Nav -->
      <div class="container">
        <!-- Main Page Content and Sidebar -->
        <div class="row">
          <!-- Main Blog Content -->
          <div class="col-xs-12 cols-s-8 col-md-9 col-lg-9">
            {{ content }}
          </div>
          <!-- End Main Content -->
          {% include categories.html %}
        </div>
      </div>
      <!-- End Main Content and Sidebar -->
    </div>

    <!-- Footer -->
    {% include footer.html %}
    {% include javascript.html %}
    <!-- End Footer -->
  </body>
</html>
